@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>

<h2>Restaurant Na Dlouhé Třídě</h2>
<p><a href="https://maps.app.goo.gl/4TArT8jv5px4SLmA8">Dlouhá 613/8 110 00 Staré Město</a></p>
<p><strong>+420 732 973 913 </strong></p>
<p><a href="mailto:nadlouhetride@volny.cz">nadlouhetride@volny.cz</a></p>

<h3>Opening Hours</h3>
<p><strong>Monday - Sunday</strong></p>
<p><strong>10:00 - 22:00</strong></p>
